.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code-color {
    color: blue;
    font-size: 64px;
    font-family: 'Press Start 2P', cursive;
    animation: color-me-in 3s;
    animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

.button {
    background-color: #dbdbdb80;
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 3px solid #000;
    border-radius: 10px;
    transition: all .4s ease;
}

.button:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.4);
}

@keyframes color-me-in {
    0% {	
        color: blue;
      }

    33% {	
        color: red;
    }

    66% {	
        color: green;
    }
  }

  @media (max-width: 768px) { 
    .code-color {
        font-size: 32px;
    }
   }